/* flex & grid */
.d-flex{
    display: flex;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-col {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
    gap: 10px;
}

/* End flex */
/* padding margin */
.mb-10 {
    margin-bottom: 10px;
}
.mb-5 {
    margin-bottom: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.p-10 {
    padding: 10px;
}

.pt-10 {
    margin-top: 10px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

/*  End padding margin */
/* color */

/* End color */

/* position */
.p-center{
    position: relative; 
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%); 
     text-align: center;
}
/*  End position */
/* button */
.btn-shape{
    padding: 10px 25px;
border-radius: 18px;
border: none;
color: var(--blue-color);
font-weight: bold;
}
/* End button */
/* pareagraph */
.l-h{
     line-height: 1.6;
}
/* End pareagraph */